<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/master.css" />
  {% block head %}
  {% endblock %}
  <title>{% block title %}
{% if site %}
{{ site.name }}
{% else %}
Django Classifieds
{% endif %}
{% endblock %}</title>
 </head>
 <body>
  <div id="topbar">
		{% if user.is_authenticated %}
		<ul class="commands">
		 <li><a href="/">Home</a></li>
		 <li>
		  <a href="{% url classifieds.views.create.select_category %}">Post</a>
		 </li>
		 <li>
		  <a href="{% url classifieds.views.manage.mine %}">Manage</a>
		 </li>
		 <li>
		  <a href="{% url profiles_edit_profile %}">Settings</a>
		 </li>
		 <li>
		  <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
		 </li>
		</ul>
		{% else %}
		<ul class="commands">
		 <li><a href="/">Home</a></li>
		 <li>
		  <a href="{% url django.contrib.auth.views.login %}">Login</a>
		 </li>
		 <li>
		  <a href="{% url registration_register %}">Register</a>
		 </li>
		</ul>
		{% endif %}
  </div>

  <div id="allcontent"> 
    <div id="content">
     {% block messages %}
     {% if messages %}
     <div class="messages">
      <ul>
       {% for message in messages %}
       <li>{{ message }}</li>
       {% endfor %}
      </ul>
     </div>
     {% endif %}
     {% endblock %}
     {% block content %}{% endblock %}
    </div>
  </div>
   
  <div id="footer">
   <div class="links">
    <a href="#">Help</a>
    <a href="/contact/">Contact Us</a>
   </div>
  
   Copyright &copy; 2010&nbsp;&mdash;&nbsp;
   John Weaver, All Rights Reserved&nbsp;&mdash;&nbsp;
   Developed by <a href="http://saebyn.info/">John Weaver</a>
  </div>
 </body>
</html>
