{% extends "classifieds/edit.html" %}
{% comment %}
  $Id$
{% endcomment %}

{% block form %}
<!--Courses for sale-->
<tr>
 <td colspan="2">
  <h3 style="font-size: 16px;">Ad Information</h3>
 </td>
</tr>

<tr>
   <th class="th-right">{{ form.title.label_tag }} : <div class="helptext">{{ form.title.help_text }}</div></th>
   <td colspan="3">
    {% if form.title.errors %}<ul class="errorlist">{{ form.title.errors }}</ul>{% endif %}
    {{ form.title }} 
    {% if form.title.field.required %}<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  </tr>
<tr>
   <th class="th-left">{{ form.businesstype.label_tag }} : <div class="helptext">{{ form.businesstype.help_text }}</div></th>
   <td>
    {% if form.businesstype.errors %}<ul class="errorlist">{{ form.businesstype.errors }}</ul>{% endif %}
    {{ form.businesstype }}{% if form.businesstype.field.required %}<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  
   <th class="th-right">{{ form.city.label_tag }} : <div class="helptext">{{ form.city.help_text }}</div></th>
   <td>
    {% if form.city.errors %}<ul class="errorlist">{{ form.city.errors }}</ul>{% endif %}
    {{ form.city }}
    {% if form.city.field.required %}<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  </tr>
<tr>
   <th class="th-left">{{ form.price.label_tag }} : <div class="helptext">{{ form.price.help_text }}</div></th>
   <td>
    {% if form.price.errors %}<ul class="errorlist">{{ form.price.errors }}</ul>{% endif %}
    {{ form.price }}
    {% if form.price.field.required %}<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  
   <th class="th-right">{{ form.location.label_tag }} : <div class="helptext">{{ form.location.help_text }}</div></th>
   <td>
    {% if form.location.errors %}<ul class="errorlist">{{ form.location.errors }}</ul>{% endif %}
    {{ form.location }}
    {% if form.location.field.required %}<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  </tr>
<tr>
   <th>{{ form.description.label_tag }} : <div class="helptext">{{ form.description.help_text }}</div></th>
   <td colspan="3">
    {% if form.description.errors %}<ul class="errorlist">{{ form.description.errors }}</ul>{% endif %}
    {{ form.description }}
    {% if form.description.title.field.required %}<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  </tr>
  <tr>
   <td colspan="2">
    <h3 style="font-size: 16px;">Ad Contact Information</h3>
   </td>
  </tr>
  <tr>
   <th class="th-left">{{ form.contactname.label_tag }} : <div class="helptext">{{ form.contactname.help_text }}</div></th>
   <td>
    {% if form.contactname.errors %}<ul class="errorlist">{{ form.contactname.errors }}</ul>{% endif %}
    {{ form.contactname }}
    {% if form.contactname.title.field.required %}<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  
   <th class="th-right">{{ form.contactcompanyname.label_tag }} : <div class="helptext">{{ form.contactcompanyname.help_text }}</div></th>
   <td>
    {% if form.contactcompanyname.errors %}<ul class="errorlist">{{ form.contactcompanyname.errors }}</ul>{% endif %}
    {{ form.contactcompanyname }}
    {% if form.contactcompanyname.field.required %}<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  </tr>
<tr>
   <th class="th-left">{{ form.contactemail.label_tag }} : <div class="helptext">{{ form.contactemail.help_text }}</div></th>
   <td>
    {% if form.contactemail.errors %}<ul class="errorlist">{{ form.contactemail.errors }}</ul>{% endif %}
    {{ form.contactemail }}
    {% if form.contactemail.field.required %}<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  
   <th class="th-right">{{ form.phone.label_tag }} : <div class="helptext">{{ form.phone.help_text }}</div></th>
   <td>
    {% if form.phone.errors %}<ul class="errorlist">{{ form.phone.errors }}</ul>{% endif %}
    {{ form.phone }}
    {% if form.phone.field.required %}<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
   </td>
  </tr>
<tr>
   <th class="th-left">{{ form.website.label_tag }} : </th>
   <td>
    {% if form.website.errors %}<ul class="errorlist">{{ form.website.errors }}</ul>{% endif %}
    http://www.{{ form.website }}
    {% if form.website.field.required %}<img src="{{ MEDIA_URL }}images/required.png" alt="Required" width="8" height="8" />{% endif %}
    <div class="helptext">{{ form.website.help_text }}</div>
   </td>
  </tr>

{% endblock %}

