{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
<p>
Your email address will be your login ID. We will also use this address to communicate with
you. Please add {{ site.domain }} to your safe list to ensure it is not blocked by your email filtering
program.
</p>
<form method="post" action="#">
 <table style="width: 445px;">
  {{ form }}

  <tr style="text-align: right;">
   <td colspan="2">
  &nbsp;I have read and accept the<br /><a href="/termsofuse/" style="padding: 0px;" target="_blank" onclick="window.open('/termsofuse/basic/', 'Terms of Use', 'width=800,height=600,scrollbars=1'); return false;">Terms of Use</a> and <a href="/privacypolicy/" style="padding: 0px;" target="_blank" onclick="window.open('/privacypolicy/basic/', 'Privacy Policy', 'width=800,height=600,scrollbars=1'); return false;">Privacy Policy</a>
   </td>
  </tr>

  <tr style="text-align: right;">
   <td colspan="2"><input type="submit" class="submit" value="Register" /></td>
  </tr>
 </table>
 <p>
  
  
 </p>
</form>
{% endblock %}
