{% extends "classifieds/view.html" %}  
{% comment %}
  $Id$
{% endcomment %}

{% block ad %}

<div class="head">
 <span id="jobId">Job Id : {{ ad.pk }}</span>
 <h2 style="margin: 0px; font-size: 16px;">{{ ad.title }}</h2>
</div>

<p id="aboveSidebarView">Posted On : {{ ad.created_on|date:"F dS, Y" }}</p>
  <ul class="jobPostTable">
   <li class="checkered">Category : {{ ad.fields_dict.jobcategory }}</li>
   <li class="checkered">{{ ad.fields_dict.jobcity }}, {{ ad.fields_dict.joblocation }}</li>
   <li class="checkered">{{ ad.fields_dict.companyname }}</li>
   <li class="checkered">{{ ad.fields_dict.jobstatus }}</li>
  </ul>

<div id="sidebarView">
 <p class="head">Apply To</p>
 <p>{{ ad.fields_dict.contactname }}</p>
 <p>{{ ad.fields_dict.contactcompanyname }}</p>
 <p>{{ ad.fields_dict.address }}</p>
 <p>{{ ad.fields_dict.city }}, {{ ad.fields_dict.state }} {{ ad.fields_dict.zip_Code}}</p>
 <p>Phone: {{ ad.fields_dict.phone }}</p>
 <p>Fax: {{ ad.fields_dict.fax }}</p>
 <p><a href="http://www.{{ ad.fields_dict.website }}" target="_blank">{{ ad.fields_dict.website|slice:":26" }}</a></p>
 <p>Email: {{ ad.fields_dict.contactemail }}</p>
 <ul class="head">
  <li><a href="javascript:window.print();">Print This Ad</a></li>
  <li><a href="javascript:;" onclick="window.location.href='mailto:?body=&quot;http://{{ site.domain }}/ads/{{ ad.pk }}&quot;';">Tell a Friend</a></li>
 </ul>
</div>

 
<div id="jobContent">
 <h3>Description :</h3>
  {{ ad.fields_dict.description|safe }}
  
 <h3>Qualifications :</h3>
 {{ ad.fields_dict.qualifications|safe }}
</div>

 <div class="images">
 {% for image in ad.adimage_set.all %}
  {% if image.get_thumb_photo_url %}
   <a href="{{ image.get_full_photo_url }}"><img src="{{ image.get_thumb_photo_url }}" alt="Thumbnail" class="thumbnail" /></a>
  {% endif %}
 {% endfor %}
 </div>
{% endblock %}
