{% extends "classifieds/edit.html" %}
{% comment %}
  $Id$
{% endcomment %}

{% block form %}
<tr>
 <td colspan="2">
  <h3 style="font-size: 16px;">Ad Information</h3>
 </td>
</tr>
<tr>
   <th class="th-right">{{ form.title.label_tag }} : <div class="helptext">{{ form.title.help_text }}</div></th>
   <td colspan="3">
    {% if form.title.errors %}<ul class="errorlist">{{ form.title.errors }}</ul>{% endif %}
    {{ form.title }} 
    {% if form.title.field.required %}<span class="required">*</span>{% endif %}
   </td>
  </tr>
{% endblock %}
