{% extends "base.html" %}
{% comment %}
  $Id$
{% endcomment %}

{% block masterheader %}
<div id="header">
 <div id="header-ads">
 <div class="header-categories">
  {% for category in topcategories %}
  <div class="header-category">
   <a href="{% url classifieds.views.search_in_category category.pk %}">{{ category.name }}</a>
  </div>
  {% endfor %}
 </div>

 <div id="subcategories">
  Other Categories:
  {% for category in subcategories %}
  <a href="{% url classifieds.views.search_in_category category.pk %}">{{ category.name }}</a>
  {% endfor %}
  <a href="{% url classifieds.views.search %}">View All</a>
 </div>
</div>
{% endblock masterheader %}

{% block content %}
Test
{% endblock content %}
