{% extends "base.html" %}
{% comment %}
  $Id$
{% endcomment %}

{% load humanize %}
{% load thumbnail %}

{% block content %}
{% if category %}
<h2><a href="/">Home</a> &gt; <a href="{% url classifieds.views.browse.search_in_category category.pk %}">Search {{ category.name }}</a> &gt; Search Results</h2>
{% endif %}

{% if no_results %}
 <h2>No results matched your search.</h2>
{% else %}
 {% if page.object_list %}
  {% include "classifieds/sorter.html" %}
  <div class="ads">
  {% for ad in page.object_list %}
   <div class="ad{% if forloop.first %} first{% endif %}{% if ad.is_featured %} featured{% endif %}">
    <div class="description">
    {% if ad.adimage_set.all.0.full_photo %}
     {% thumbnail ad.adimage_set.all.0.full_photo "1000" as big %}
      {% thumbnail ad.adimage_set.all.0.full_photo "50x50" crop="center" as small %}
       <a href="{{ big.url}}" title="View full-size image"><img src="{{ small.url }}" alt="Photo Thumbnail"></a>
      {% endthumbnail %}
     {% endthumbnail %}
    {% else %}
     <span class="img">No Photo</span>
    {% endif %}
     <div class="title">{{ ad.title }}</div>
     <div class="right">
      <ul>
      {% if ad.fields_dict.price %}
       <li>${{ ad.fields_dict.price|intcomma }}</li>
      {% endif %}
      </ul>
      <a href="{% url classifieds_browse_ad_view ad.pk %}">View Details &gt; &gt;</a>
     </div>
     <ul class="arrow">
      <li>{% if ad.fields_dict.city %}{{ ad.fields_dict.city }}, {% endif %}{{ ad.fields_dict.location }}</li>
      <li>Created on : {{ ad.created_on|date:"F jS, Y" }}</li>
     </ul>
    </div>
   {% ifequal ad.user user %}
    <div class="options">
     <span class="label">Ad ID : </span>{{ ad.pk }}&nbsp;|&nbsp;{{ ad.adimage_set.count }} Photos&nbsp;|&nbsp;<a href="{% url classifieds.views.browse.view ad.pk %}">View Details</a>&nbsp;|&nbsp;<a href="{% url classifieds_manage_ad_edit ad.pk %}">Edit Listing</a>&nbsp;|&nbsp;<a onclick="return confirm('Are you sure you want to delete this ad?');" href="{% url classifieds_manage_ad_delete ad.pk %}">Delete Listing</a>&nbsp;|&nbsp;<a href="{% url classifieds.views.payment.checkout ad.pk %}">Renew Listing</a>
    </div>
   {% endifequal %}
   </div>
  {% endfor %}
  </div>
 
  {% include "classifieds/pager.html" %} 
 {% else %}
  <p>You don't have any ads. Post a new ad <a href="{% url classifieds_create_ad_select_category %}">here</a>.
 {% endif %}
{% endif %}
{% endblock %}


