{% extends "base.html" %}
{% comment %}
  $Id$
{% endcomment %}

{% load humanize thumbnail %}

{% block sidebar %}
<ul>
 <li><a href="/">Home</a></li>
</ul>
<div class="welcome">Welcome, <span class="name">{{ user.first_name }}</span></div>
<ul class="arrow">
 <li><a href="{% url classifieds_create_ad_select_category %}">Post a New Ad</a></li>
 <li><a href="{% url classifieds_manage_view_all %}">Manage My Ads</a></li>
 <li><a href="{% url profiles_edit_profile %}">My Profile</a></li>
 <li><a href="{% url auth_logout %}">Logout</a></li>
</ul>
{% endblock %}


{% block content %}

 {% if page.object_list %}
  {% include "classifieds/sorter.html" %}
  <div class="ads">
  {% for ad in page.object_list %}
   <div class="ad{% if forloop.first %} first{% endif %}{% if ad.is_featured %} featured{% endif %}">
    <div class="description">
    {% if ad.adimage_set.all.0.full_photo %}
     {% thumbnail ad.adimage_set.all.0.full_photo "1000" as big %}
      {% thumbnail ad.adimage_set.all.0.full_photo "50x50" crop="center" as small %}
       <a href="{{ big.url }}" title="View full-size image"><img src="{{ small.url }}" alt="Photo Thumbnail"></a>
      {% endthumbnail %}
     {% endthumbnail %}
    {% else %}
     <span class="img">No Photo</span>
    {% endif %}
     <div class="title">{{ ad.title }}</div>
     <div class="right">
      <ul>
      {% if ad.fields_dict.price %}
       <li>${{ ad.fields_dict.price|intcomma }}</li>
      {% endif %}
      </ul>
      <a href="{% url classifieds_browse_ad_view ad.pk %}">View Details &gt; &gt;</a>
     </div>
     <ul class="arrow">
      {% if ad.fields_dict.city %}
      <li>{{ ad.fields_dict.city }}</li>
      {% else %}
      <li>{{ ad.fields_dict.location }}</li>
      {% endif %}
      <li>Created on : {{ ad.created_on|date:"F jS, Y" }}</li>
      <li>Expires on : {{ ad.expires_on|date:"F jS, Y" }}</li>
     </ul>
    </div>
   {% ifequal ad.user user %}
    <div class="options">
     <span class="label">Ad ID : </span>{{ ad.pk }}&nbsp;|&nbsp;{{ ad.adimage_set.count }} Photos&nbsp;|&nbsp;<a href="{% url classifieds.views.browse.view ad.pk %}">View Details</a>&nbsp;|&nbsp;<a href="{% url classifieds_manage_ad_edit ad.pk %}">Edit Listing</a>&nbsp;|&nbsp;<a onclick="return confirm('Are you sure you want to delete this ad?');" href="{% url classifieds_manage_ad_delete ad.pk %}">Delete Listing</a>&nbsp;|&nbsp;<a href="{% url classifieds.views.payment.checkout ad.pk %}">Renew Listing</a>
    </div>
   {% endifequal %}
   </div>
  {% endfor %}
  </div>
 
  {% include "classifieds/pager.html" %} 
 {% else %}
  <p>You don't have any ads. Post a new ad <a href="{% url classifieds_create_ad_select_category %}">here</a>.
 {% endif %}

{% endblock %}


